<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<head>
    <title>Main</title>
    <link rel="stylesheet" href="https://uicdn.toast.com/tui-grid/latest/tui-grid.css" />
    <script src="https://uicdn.toast.com/tui-grid/latest/tui-grid.js"></script>

</head>

<th:block layout:fragment="content">
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <!-- Page Heading -->
        <h1 class="h3 mt-2 mb-2 text-gray-800">게시판</h1>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">그리드테스트</h6>
            </div>
            <div class="card-body">
                <div id="grid"></div>
            </div>
            <!-- <div id="grid"></div> -->
        </div>

        <div class="row">
            <div class="col align-self-end">
                <a class="btn btn-secondary btn-icon-split float-right" th:href="@{/boards/form}">
                    <span class="text">버튼</span>
                </a>
            </div>
        </div>

        <hr/>

    </div>
</th:block>

<th:block layout:fragment="pageScript">
 
    <script>
        $(document).ready(function () {

	        const data = [
	        	  {
	        	    id: '10012',
	        	    name: 'Seoul',
	        	    value: 'South Korea'
	        	  },
	        	  {
	        	    id: '10013',
	        	    city: 'Tokyo',
	        	    country: 'Japan'    
	        	  },
	        	  {
	        	    id: '10014',
	        	    city: 'London',
	        	    country: 'England'
	        	  },
	        	  {
	        	    id: '10015',
	        	    city: 'Ljubljana',
	        	    country: 'Slovenia'
	        	  },
	        	  {
	        	    id: '10016',
	        	    city: 'Reykjavik',
	        	    country: 'Iceland'
	        	  }
	        	];
	        // GRID 를 생성한다.
	        var grid = new tui.Grid( {
	            el: document.getElementById('grid'),
	            columns: [
	                {
	                    header: '이름',
	                    name: 'name'
	                },
	                {
	                    header: '나이',
	                    name: 'value',
	                    editor: 'text'
	                }
	            ],
	            data: data
	        } );


        });
    </script>

</th:block>

</html>