<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>PDF Merge</title>
    <style>
    .btn-file {
        position: relative;
        overflow: hidden;
    }

    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }
    </style>
</head>

<th:block layout:fragment="content">
    <!-- Begin Page Content -->
    <div class="container-fluid">

		<!-- Breadcrumbs-->
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
                <a href="/">Dashboard</a>
			</li>
			<li class="breadcrumb-item active">PDFBOX Merge</li>
		</ol>
		
		<!-- Page Content -->
		<div class="card shadow mb-4" id="files1">
		    <div class="card-header py-3">
		        <a href="#" class="btn btn-primary btn-icon-split">
		            <span class="icon text-white-50">
		                <i class="fas fa-arrow-right"></i>
		            </span>
		            <span class="text btn-file">파일첨부<input type="file" name="files1" multiple /></span>
		        </a>
		        <a id="uploadBtn" href="#" class="btn btn-primary btn-icon-split">
		            <span class="icon text-white-50">
		                <i class="fas fa-check"></i>
		            </span>
		            <span class="text btn-file">PDF Merge</span>
		        </a>
                <input id="fileName" type="hidden"/> 
		    </div>
		    <div class="card-body">파일목록</div>
		</div>
    </div>
</th:block>

<th:block layout:fragment="pageScript">
    <script type="text/javascript">
    $(document).ready(function(){

    	//다중파일 업로드 커스터마이징 참고 사이트 https://jsfiddle.net/alexjamesbrown/2nzL9f7g/
        $.fn.fileUploader = function (filesToUpload, sectionIdentifier) {
            var fileIdCounter = 0;
            this.closest(".mb-4").change(function (evt) {
                var output = [];
                for (var i = 0; i < evt.target.files.length; i++) {
                    fileIdCounter++;

                    var file = evt.target.files[i];
                    var fileName = evt.target.files[i].name;
                    var fileId = sectionIdentifier + fileIdCounter;

                    console.log(file);
                    console.log(fileName);

                    if(!validateFileExtension(fileName)){
                        alert("PDF 파일이 아닙니다.");
                        return false;
                    }
                    filesToUpload.push({
                        id: fileId,
                        file: file
                    });
                    //escape(file.name) 인코딩
                    var removeLink = "<a href=\"#\" class=\"removeFile btn btn-danger btn-circle btn-sm\" data-fileid=\"" + fileId + "\"><i class=\"fas fa-trash\"></i></a>";
                    output.push("<li><strong>", file.name, "</strong> - ", file.size, " bytes. &nbsp; &nbsp; ", removeLink, "</li> ");
                };
                $(this).children(".card-body").append(output.join(""));
                //reset the input to null - nice little chrome bug!
                evt.target.value = null;
            });

            $(this).on("click", ".removeFile", function (e) {
                e.preventDefault();

                var fileId = $(this).parent().children("a").data("fileid");

                // loop through the files array and check if the name of that file matches FileName
                // and get the index of the match
                for (var i = 0; i < filesToUpload.length; ++i) {
                    if (filesToUpload[i].id === fileId)
                        filesToUpload.splice(i, 1);
                }

                $(this).parent().remove();
            });

            this.clear = function () {
                filesToUpload.length = 0;
                $(this).children(".card-body").empty();
            }

            return this;
        };

        var filesToUpload = [];
        var filesUploader = $("#files1").fileUploader(filesToUpload, "files1");

        $("#uploadBtn").click(function (e) {
            e.preventDefault();

            var formData = new FormData();

            for (var i = 0, len = filesToUpload.length; i < len; i++) {
                formData.append("files", filesToUpload[i].file);
            }

            $.ajax({
                url: "/pdfbox/pdfUpload",
                data: formData,
                cache : false,
                processData: false,
                contentType: false,
                type: "POST",
                success: function (data) {
                    $("#fileName").val(data.pdfName);
                    $("#uploadBtn").hide();

                    filesUploader.clear();
                    var output = [];
                    var downloadLink = "<a href='/pdfbox/pdfDownload/"+data.pdfName+"'>"+data.pdfName+"</a>";
                    
                    var removeLink = "<a href=\"#\" class=\"removePdf btn btn-danger btn-circle btn-sm\" data-fileid=\"" + data.pdfName + "\"><i class=\"fas fa-trash\"></i></a>";
                    output.push("<li><strong>", downloadLink, "</strong> - ", " &nbsp; &nbsp; ", removeLink, "</li> ");
                    $(".card-body").append(output.join(""));
                },
                error: function (data) {
                    alert("ERROR - " + data.responseText);
                }
            });
        });

        $(document).on("click",".removePdf", function (e) {
        	e.preventDefault();
        	var data = {pdfName:$("#fileName").val()};

            $.ajax({
                url: "/pdfbox/pdfDelete",
                data: JSON.stringify(data),
                cache : false,
                processData: false,
                contentType: "application/json; charset=utf-8;",
                type: "POST",
                dataType:"json",
                success: function (data) {
                	alert("정상적으로 삭제 되었습니다.");
                	$(".card-body").empty();
                	$("#uploadBtn").show();
                },
                error: function (data) {
                    alert("ERROR - " + data.error);
                    $(".card-body").empty();
                    $("#uploadBtn").show();
                }
            });
            
        });
    });

    
    function validateFileExtension(fileName){
        var fileExtension = fileName.split('.').pop().toLowerCase();
        if("pdf" == fileExtension){
            return true;
        }else{
            return false;
        }
    }
    </script>

</th:block>

</html>